@model Lab21_NDV2.Models.Response

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Style.css" />
    <title>RsvpForm</title>
    <style>
                boby {background-color: #F1F1F1;}

    </style>
</head>
<body>
    @{
    

    }
    <div class="text-center">
        <h1>Thank you, @Model.Name!</h1>
        <div class="lead">

            Your info has been submitted!

        </div>
    </div>

</body>
</html>
